@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  padding: 0px;
  user-select: none;
  height: 100%;
  /*width: 100%;*/
}

ol,
ul {
  /* -webkit-padding-start: 0px; */
  margin: 0px;
  padding: 0px;
}
li {
  /*list-style: none;*/
  font-family: "Noto Sans KR", sans-serif;
}
table {
  border-collapse: collapse;
}
button{
  font-family: "Noto Sans KR", sans-serif;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
